<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%if logged_in? %>
    <%= current_user.username%>
    <form action="<%= session_url%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <input type="submit" value="Log Out">
    </form>
  <%else%>
    <%= link_to 'Log in', new_session_url %>
    <%= link_to 'Sign up', new_user_url %>
  <%end%>
    <%= yield %>
    <%if flash[:errors]%>
      <%flash[:errors].each do |error|%>
        <%= error%>
      <%end%>
    <%end%>
  </body>
</html>
